@inherits LayoutComponentBase

<div class="identity-grid">
    <div class="center-form">
        @Body
    </div>
    <div class="identity-showcase">
        @* Markup for some design on the right side of the screen *@
    </div>
</div>