:root {
    --primary-color: #3479e6;
    --secondary-color: #50808e;
    --accent-color: #ddd8c4;
    --secondary-color-hover: #69a297;
    --border-color: #d1d1d1;
}

.identity-grid {
    display: flex;
    height: 100vh;
    background-image: url('Icons/hexagon-pattern.svg');
    background-repeat: repeat;
    background-size: auto;
    background-color: var(--primary-color);
}

.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-container {
    width: 400px;
    padding: 2rem;
    margin: auto;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
    
}

.input-container input[type=text],input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    
}

.form-container button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.center-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.family-register-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;
    gap: 1rem;
}

.family-register-button {
    border: 2px solid var(--primary-color) !important;
    background: transparent !important;
    color: black !important;
    transition: 0.2s;
}

.family-register-button:hover {
    background: rgba(52, 121, 230, 0.3) !important;
    transform: scale(1.025);
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 60px;
    color: black;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.navbar-content a {
    text-decoration: none;
    color: black;
}

.navbar-header {
    margin-left: 1rem;
}

.navbar-header a {
    text-decoration: none;
    font-size: 2rem;
}

.navbar-profile {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    flex: 1;
    align-items: end;
}

.navbar-profile-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.navbar-header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
    font-size: 1.5rem !important;
}

.nav-item {
    
}

.calendar-page-content .header {
    text-align: center;
}

.nav-item a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

.main-page-layout {
    background-color: var(--primary-color);
    min-height: 100vh;
    color: white;
    position: relative;
}

.main-page-layout .header {
    margin: 1rem;
}

.calendar {
    background: white;
    border-radius: 10px;
    color: black;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
}

.calendar-header {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.calendar-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    text-align: left !important;
}

.day {
    min-height: 120px;
    border: 2px solid #cdcdcd;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    color: #b3b3b3;
    transition: 0.1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
}

.day-content {
    border: 1px solid #e69934;
    font-size: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(230, 153, 52, 0.2);
    color: black;
}

.day:hover {
    border-color: var(--primary-color);
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.day.active {
    border-color: var(--primary-color);
    background-color: rgba(52, 121, 230, 0.1);
}

.modal-container {
    visibility: hidden;
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    display: flex;                 /* enable flexbox */
    justify-content: center;       /* center horizontally */
    align-items: center;

    transition: opacity 0.1s;
}

.modal .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal .header h3 {
    margin: 0;
}

.modal-container.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    color: black;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1rem;
    border-radius: 10px;
    width: 600px;
    max-height: 600px;
    overflow: auto;
}

.modal-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    background: lightgrey;
    padding: 0.5rem 0.5rem;
    border-radius: 50px;
    text-align: center;
}

.modal-selector span {
    text-align: center;
    cursor: pointer;
    padding: 0.25rem 1rem;
}

.modal-selector .selected {
    background: white;
    padding: 0.25rem 1rem;
    border-radius: 50px;
}

.btn {
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-secondary {
    border: 1px solid var(--border-color);
}

.btn-secondary:hover {
    background: var(--border-color);
}

.btn-primary {
    border: none;
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background: #74a9ff;
}

.modal-recipe-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-recipe-item {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 1rem;
}

.modal-recipe-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

.modal-recipe-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-recipe-item h4 {
    margin: 0;
    font-size: 1.3rem;
}

.modal-recipe-item p {
    opacity: 0.5;
}

.modal-recipe-search {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
}

.modal-recipe-search:focus {
    border: 2px solid var(--primary-color);
}

.modal-recipe-search-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.modal-dish-name-input-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.modal-dish-name-input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
}

.modal-dish-name-input:focus {
    border: 2px solid var(--primary-color);
}