@page "/Calendar"
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Mono.TextTemplating
@using WMP.Data
@using WMP.Models
@using WMP.Models.Data_Transfer_Objects
@using WMP.Services
@attribute [Authorize]

@inject AuthenticationStateProvider AuthStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject IMealDbService MealDbService
@inject IRecipeService RecipeService
@inject IDbContextFactory<WMPContext> Context

<PageTitle>Calendar</PageTitle>

<div class="page">

    <div class="page-home-header">
        <h2 style="margin: 0;">Calendar</h2>
        <p style="opacity: 0.8; margin: 0;">Click on any date to add or select recipes</p>
    </div>
    
    <CalendarComponent></CalendarComponent>

    
</div>