@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<div class="page">
    <div class="page-home-header">
        <h2>Welcome back @Helpers.FriendlyNameHelper.FriendlyNameMethod(Layout.User.UserName)!</h2>
        <p>@DateTime.Now.ToString("D")</p>
    </div>
    
    <MealsTodayWidget FamilyId="Layout.User.FamilyId!.Value"></MealsTodayWidget>
    
    <div class="grid-view">
        <WeekOverviewWidget FamilyId="Layout.User.FamilyId!.Value"></WeekOverviewWidget>
        <ShoppingListWidget FamilyId="Layout.User.FamilyId!.Value"></ShoppingListWidget>
    </div>
</div>

@code {
    
}

@code {

    [CascadingParameter(Name = "Layout")]
    public MainLayout? Layout { get; set; }

}