@page "/recipes/{id:int}"
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Authorization
@using WMP.Models
@using WMP.Services
@attribute [Authorize]

@rendermode InteractiveServer

@inject IRecipeService RecipeService
@inject NavigationManager NavigationManager

@if (isLoading)
{
    <span>Loading...</span>
}
else
{
    <div class="page">
        <div class="recipe-info-container">
            <div class="recipe-info-header">
                <div class="recipe-info-header-content">
                    <h2>@model.Name</h2>

                    <div class="recipe-info-widget-container">
                        <div class="recipe-info-widget header">
                            <img src="Icons/icon-logo.svg"/>
                            <span>0 Times Made</span>
                        </div>

                        <div class="recipe-info-widget header">
                            <img src="Icons/icon-shopping.svg"/>
                            <span>Last time made: </span>
                        </div>

                        <div class="recipe-info-widget header">
                            <img src="Icons/icon-calendar.svg"/>
                            <span>Added: 03-03-2025</span>
                        </div>

                    </div>

                    <button class="btn btn-primary">Add to Calendar</button>
                </div>
                <img src="@model.ThumbnailUrl"/>
            </div>

        </div>

        <div class="recipe-info-container">
            <div class="recipe-info-ingredients">
                <div class="recipe-info-widget">
                    <img src="Icons/icon-shopping.svg"/>
                    <span>Ingredients</span>
                </div>

                <div class="recipe-info-ingredients-container">
                    <ul>
                        @foreach (var ingredient in model.Ingredients)
                        {
                            <li>@($"{ingredient.Measure} - {ingredient.Name}")</li>
                        }
                    </ul>
                </div>

            </div>

            <div class="recipe-info-instructions">
                <div class="recipe-info-widget">
                    <img src="Icons/icon-logo.svg"/>
                    <span>Instructions</span>
                </div>

                <div class="recipe-info-instructions-container">
                    <ol>
                        @foreach (var step in SplitByStepNumbers(model.Approach))
                        {
                            <li style="margin-top: 1rem;">@step</li>
                        }
                    </ol>
                </div>
            </div>

            <div class="recipe-info-instructions">
                <div class="recipe-info-widget">
                    <img src="Icons/icon-calendar.svg"/>
                    <span>Cooking History</span>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }

    private bool isLoading = true;

    private Recipe? model;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            isLoading = true;
            StateHasChanged();

            await getData();

            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task getData()
    {
        model = await RecipeService.GetRecipe(Id);
    }

    List<string> SplitByStepNumbers(string text)
    {
        return Regex
            .Split(text, @"(?=\d+\.\s)")
            .Where(s => !string.IsNullOrWhiteSpace(s))
            .Select(s => Regex.Replace(s, @"^\d+\.\s*", "")) // remove "1. "
            .ToList();
    }

}